.booking-body
{
    padding: 25px;
}
.form-group label{
    font-size: 22px;
    color: #000000;
    font-weight: lighter;
}
label{
    color:#fff;
    font-weight: lighter;
}
.form-group select{
    background: #e31189;
    color: #fff;
}
.form-control-lg{
    color: #fff;
}
.form-control{
    height: calc(2.875rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;    
    background: transparent;
    color: #fff;
}
.input-group>.form-control{
    height: calc(2.875rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;    
    background: transparent;
    color: #fff;
}
.btn-icon .btn-inner--text:not(:last-child) {
    margin-right: 0.75em;
}
.text-underline--dashed {
    border-bottom: 1px dashed !important;
}
.nav-pills .nav-link {
    border-radius: .25rem;
    background-color: transparent;
    border: 1px solid #e31189;
    margin-bottom: 10px;
    color: #e31189;
    font-size: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #e31189;
}
.cd-body{
    background: #e31189;
    padding: 15px;
}
.cd-body .col{
    height: 55px;
}
.cd-body .col img{
    height: 55px;
}
.cd-body .custom-control-label::after{
    display: none;
}
.cd-body .allbanks-lbl{
    display: block;
    margin-top: 20px;
}
.cd-body .select-banks{
    max-width: 300px;
    color: #fff;
   
}
.cd-body small{
    color: #fff;
}
.cd-body .select-banks option{
    background: #e31189;
}
.form-body{
    padding: 40px;
}
.bottom-area{
    text-align: center;
}

.booking-bg{
    background: url('../../assets/images/bg/booking_bg.jpg');
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.booking-bg .container{
    background: #fff;
}