.bms-header-logo{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.bms-heroslider{
    height: 330px;
}
.bms-heroslider-inner
{
    min-height: 100%;
}
.bms-padding-section{
    padding-top: 50px;
    padding-bottom: 50px;
}


.table-header .day-name,.table-header .date{
    color: #fff;
    display: block;
    text-align: center;
}
.table-body .col{
    background: #0E8FE3;
    color: #000;
    margin-right: 2px;
    margin-left: 2px;
    text-align: center;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    cursor: pointer;
}
.booking-bg{
    background: url('../../assets/images/bg/booking_bg.jpg');
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.booking-bg .container{
    background: #252746;
}