 <!-- Header Area -->
 <div class="bms-header bms-header-fixed bms-sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-9 col-9">
          <a class="bms-header-logo" href="index-2.html">
            <img
              src="../../assets/images/logo.png"
              alt="DorbbyEservices logo">
          </a>
        </div>
        <div class="col-lg-9 col-md-3 col-3">
          <nav class="bms-navigation bms-header-navigation">
            <ul>
              <li class="current"><a href="#bms-area-heroslider">Home</a></li>
              <li><a href="#bms-area-book-session">DorbbyEservices</a></li>
              <li><a href="#bms-area-about">About Us</a></li>
              <li><a href="#bms-area-stories">Sucess Stories</a></li>
              <li><a href="#bms-area-video">Gallery</a></li>             
              <li><a href="#bms-area-contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="bms-mobilenav"></div>
    </div>
  </div>
  <!--// Header Area -->
 <!-- Heroslider Area -->
 <div id="bms-area-heroslider" class="bms-heroslider">
    <div class="bms-heroslider-inner">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-7 order-2 order-lg-1">
            <div class="bms-heroslider-content">
              <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
              <p>quam dolor hendrerit justo, nec cursus nulla neque quis orci. Morbi faucibus tempor
                nibh, sit amet egestas sapien efficitur eu. In neque </p>

              <a href="#bms-area-book-session" class="bms-heroslider-scrolldown">
                <i class="zmdi zmdi-square-down"></i>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 order-1 order-lg-2">
            <div class="bms-heroslider-mobileshow">
              <a routerLink="/booking" class="bms-button bms-button-lg bms-button-white bms-button-transparent"><span>Book
                  your session now</span></a>
              <div class="bms-heroslider-mobileshowanim">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Heroslider Area -->
<!-- About Us Area -->
<div id="bms-area-book-session" style="background-image: url('assets/images/booking.jpg')"
class="bms-about-area bms-section bms-padding-section bg-image pt-0 pb-0">

<div class="container">
    <div class="row align-items-center center-session row-eq-height">
        <div class="col-lg-4 col-md-4 ">
            <div class="booking-button ">
                <a routerLink="/booking" class="bms-button bms-button-lg bms-button-white bms-button-transparent"><i
                        class="zmdi zmdi-calendar"></i><span>Book Your Session Now</span></a>

            </div>

        </div>
        <div class="col-lg-8 col-md-8 border-left">
            <div class="bms-about-image">
                <img class="bms-about-mobilethumb" src="assets/images/about-mobile.png"
                    alt="about mobile">
            </div>
        </div>
    </div>
</div>
</div>
<!--// About Us Area -->

<!-- About Us Area -->
<div id="bms-area-about" class="bms-about-area bms-section bms-padding-section bg-grey">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="bms-sectiontitle text-center">
                <h2>About DorbbyEservices</h2>
                <span class="bms-sectiontitle-divider"><i class="zmdi zmdi-trending-up"></i></span>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="bms-about-image">
                <img class="bms-about-mobilethumb" src="assets/images/about-mobile.png"
                    alt="about mobile">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bms-about-content">
                <h4>Why People Choose Our App</h4>
                <h6>A mobile app or mobile application is a computer program designed to run on a
                    mobile device.</h6>
                <p>Mobile apps were originally offered for general productivity and information
                    retrieval. However public demand and the availability of developer tools drove
                    rapid expansion into other categories. </p>
                <ul class="stylish-list">
                    <li><i class="zmdi zmdi-check"></i> Apps are generally downloaded from application.
                    </li>
                    <li><i class="zmdi zmdi-check"></i> Most mobile devices are sold with several apps
                        bundled.</li>
                    <li><i class="zmdi zmdi-check"></i> Mobile apps were originally offered for general
                        productivity.</li>
                    <li><i class="zmdi zmdi-check"></i> App presents the service's technology news.</li>
                </ul>

            </div>
        </div>
    </div>
</div>
</div>
<!--// About Us Area -->
<!-- stories Area -->
<div id="bms-area-stories" style="background-image: url('assets/images/stories.jpg')" class="bms-stories-area bms-section bg-image">
  <div class="bg-overlay "></div>
<div class="container bms-padding-section ">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="bms-sectiontitle text-center">
                <h2 class="text-white">Our Success stories</h2>
                <span class="bms-sectiontitle-divider"><i class="zmdi zmdi-trending-up"></i></span>
            </div>
        </div>
    </div>
    <div class="row bms-stories-slider bms-slider-arrow">

        <!-- Single stories -->
        <div class="col-lg-3 col-md-6 col-12">
            <div class="bms-stories">
                <div class="bms-stories-topside">
                    <div class="bms-blog-image">
                        <img src="assets/images/blog-image-1.jpg" alt="appmyil stories image">
                    </div>
                    <span class="bms-stories-date">September 16, 2019</span>
                </div>
                <div class="bms-stories-content">
                    <img src="assets/images/author-image-1.jpg">
                    <h5>Name of client</h5>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
                </div>
            </div>
        </div>
        <!--// Single stories -->

        <!-- Single stories -->
        <div class="col-lg-3 col-md-6 col-12">
            <div class="bms-stories">
                <div class="bms-stories-topside">
                    <div class="bms-blog-image">
                        <img src="assets/images/blog-image-2.jpg" alt="appmyil stories image">
                    </div>
                    <span class="bms-stories-date">December 16, 2019</span>
                </div>
                <div class="bms-stories-content">
                    <img src="assets/images/author-image-1.jpg">
                    <h5>Name of client</h5>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
                </div>
            </div>
        </div>
        <!--// Single stories -->

        <!-- Single stories -->
        <div class="col-lg-3 col-md-6 col-12">
            <div class="bms-stories">
                <div class="bms-stories-topside">
                    <div class="bms-blog-image">
                        <img src="assets/images/blog-image-3.jpg" alt="appmyil stories image">
                    </div>
                    <span class="bms-stories-date">September 16, 2019</span>
                </div>
                <div class="bms-stories-content">
                    <img src="assets/images/author-image-1.jpg">
                    <h5>Name of client</h5>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
                </div>
            </div>
        </div>
        <!--// Single stories -->

        <!-- Single stories -->
        <div class="col-lg-3 col-md-6 col-12">
            <div class="bms-stories">
                <div class="bms-stories-topside">
                    <div class="bms-blog-image">
                        <img src="assets/images/blog-image-3.jpg" alt="appmyil stories image">
                    </div>
                    <span class="bms-stories-date">September 16, 2019</span>
                </div>
                <div class="bms-stories-content">
                    <img src="assets/images/author-image-1.jpg">
                    <h5>Name of client</h5>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
                </div>
            </div>
        </div>
        <!--// Single stories -->
        <!-- Single stories -->
        <div class="col-lg-3 col-md-6 col-12">
            <div class="bms-stories">
                <div class="bms-stories-topside">
                    <div class="bms-blog-image">
                        <img src="assets/images/blog-image-3.jpg" alt="appmyil stories image">
                    </div>
                    <span class="bms-stories-date">September 16, 2019</span>
                </div>
                <div class="bms-stories-content">
                    <img src="assets/images/author-image-1.jpg">
                    <h5>Name of client</h5>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
                </div>
            </div>
        </div>
        <!--// Single stories -->
        <!-- Single stories -->
        <div class="col-lg-3 col-md-6 col-12">
            <div class="bms-stories">
                <div class="bms-stories-topside">
                    <div class="bms-blog-image">
                        <img src="assets/images/blog-image-3.jpg" alt="appmyil stories image">
                    </div>
                    <span class="bms-stories-date">September 16, 2019</span>
                </div>
                <div class="bms-stories-content">
                    <img src="assets/images/author-image-1.jpg">
                    <h5>Name of client</h5>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h4>
                </div>
            </div>
        </div>
        <!--// Single stories -->

    </div>
</div>
</div>
<!--// stories Area -->

<!-- Video & Funfact Area -->
<div id="bms-area-video" class="bms-video-funfact-area bms-section bms-padding-section bg-grey">
<!-- <div class="bms-video-funfact-bgshape">
    <img src="assets/images/funfact-bg-shape.png" alt="bg shape">
</div> -->
<div class="container">

    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="bms-videobox bms-videobox-circle bms-funfact-videobox">
                <img src="assets/images/youtube.png" alt="appmyil video image">
                <a href="https://www.youtube.com/watch?v=mHUOCxVT5ro" data-fancybox="video"><i
                        class="flaticon-play-button"></i></a>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="row bms-funfact-wrapper">

                <!-- Single Funfact -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 bms-funfact-masonryitem">
                    <div class="bms-videobox bms-videobox-circle bms-funfact-videobox mt-30">
                        <img src="assets/images/youtube.png" alt="appmyil video image">
                        <a href="https://www.youtube.com/watch?v=mHUOCxVT5ro" data-fancybox="video"><i
                                class="flaticon-play-button"></i></a>

                    </div>
                </div>
                <!--// Single Funfact -->

                <!-- Single Funfact -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 bms-funfact-masonryitem">
                    <div class="bms-videobox bms-videobox-circle bms-funfact-videobox mt-30">
                        <img src="assets/images/youtube.png" alt="appmyil video image">
                        <a href="https://www.youtube.com/watch?v=mHUOCxVT5ro" data-fancybox="video"><i
                                class="flaticon-play-button"></i></a>

                    </div>
                </div>
                <!--// Single Funfact -->

                <!-- Single Funfact -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 bms-funfact-masonryitem">
                    <div class="bms-videobox bms-videobox-circle bms-funfact-videobox mt-30">
                        <img src="assets/images/youtube.png" alt="appmyil video image">
                        <a href="https://www.youtube.com/watch?v=mHUOCxVT5ro" data-fancybox="video"><i
                                class="flaticon-play-button"></i></a>

                    </div>
                </div>
                <!--// Single Funfact -->

                <!-- Single Funfact -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 bms-funfact-masonryitem">
                    <div class="bms-videobox bms-videobox-circle bms-funfact-videobox mt-30">
                        <img src="assets/images/youtube.png" alt="appmyil video image">
                        <a href="https://www.youtube.com/watch?v=mHUOCxVT5ro" data-fancybox="video"><i
                                class="flaticon-play-button"></i></a>

                    </div>
                </div>
                <!--// Single Funfact -->

            </div>
        </div>
    </div>
</div>
</div>
<!--// Video & Funfact Area -->

<!-- Contact Area -->
<div id="bms-area-contact" class="bms-contact-area bms-section bms-padding-section bg-white">
<div class="bms-contact-bgshape">
    <img src="assets/images/bg-shape-contact.png" alt="contact shape">
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="bms-sectiontitle text-center">
            <h2>Contact Us</h2>
            <span class="bms-sectiontitle-divider"><i class="zmdi zmdi-trending-up"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <form 
                action="#" method="post"
                class="bms-form bms-contact-form">
                <div class="bms-form-inner">
                    <div class="bms-form-field bms-form-fieldhalf">
                        <input type="text" name="name" placeholder="Full Name" required="required">
                        <span class="bms-form-animatedline"></span>
                    </div>
                    <div class="bms-form-field bms-form-fieldhalf">
                        <input type="email" name="email" placeholder="Email Address"
                            required="required">
                        <span class="bms-form-animatedline"></span>
                    </div>
                    <div class="bms-form-field bms-form-fieldhalf">
                        <input type="text" name="subject" placeholder="Subject" required="required">
                        <span class="bms-form-animatedline"></span>
                    </div>
                    <div class="bms-form-field bms-form-fieldhalf">
                        <input name="phone" type="text" placeholder="Phone">
                        <span class="bms-form-animatedline"></span>
                    </div>
                    <div class="bms-form-field">
                        <textarea name="message" cols="30" rows="4" placeholder="Message"></textarea>
                        <span class="bms-form-animatedline"></span>
                    </div>
                    <div class="bms-form-field">
                        <button type="submit" class="bms-button"><span>Send Message</span></button>
                    </div>
                </div>
            </form>
            <p class="form-messages"></p>
        </div>
        <div class="col-lg-4">
            <div class="bms-contact-content">
                <div class="bms-contact-block">
                    <span class="bms-contact-block-icon">
                        <i class="zmdi zmdi-pin"></i>
                    </span>
                    <div class="bms-contact-block-content">
                        <h6>Address</h6>
                        <p>100 Santa Monica Boulevard Los Angeles, California</p>
                    </div>
                </div>
                <div class="bms-contact-block">
                    <span class="bms-contact-block-icon">
                        <i class="zmdi zmdi-phone-in-talk"></i>
                    </span>
                    <div class="bms-contact-block-content">
                        <h6>Phone</h6>
                        <p><a href="tel:+01234222555">(+01) - 234 222 555</a></p>
                        <p><a href="tel:+01234222666">(+01) - 234 333 666</a></p>
                    </div>
                </div>
                <div class="bms-contact-block">
                    <span class="bms-contact-block-icon">
                        <i class="zmdi zmdi-email"></i>
                    </span>
                    <div class="bms-contact-block-content">
                        <h6>Email</h6>
                        <p><a href="mailto:info@example.com">info@example.com</a></p>
                        <p><a href="mailto:info2@example.com">info2@example.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--// Contact Area -->
