<!-- Heroslider Area -->
<div class="bms-heroslider">
  <div class="bms-heroslider-inner">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 order-2 order-lg-1">
          <div class="bms-heroslider-content">
            <a class="bms-header-logo" routerLink="/home">
              <img
                src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuFqhVKnBfL1T59OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY"
                alt="BookMySession logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// Heroslider Area -->

<div class="booking-section bms-section ">
  
  <div class="container bg-overlay-1 bms-padding-section">
    <div class="row align-items-center  row-eq-height ">
      <div class="col-lg-5 col-md-5 ">
        <div class="form-body">
            <div class="mb-5">
                <h6 class="h3 text-white">Sing Up</h6>
                <p class="text-muted mb-0">Register your details to continue.</p>
              </div>
              <span class="clearfix"></span>
              <form role="form">
                <div class="form-group">
                  <label class="form-control-label">Email address</label>
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Mobile Number</label>
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" id="input-mobile" placeholder="Enter your contact number">
                  </div>
                </div>
                <div class="form-group mb-4">
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <label class="form-control-label">Password</label>
                    </div>             
                  </div>
                  <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" id="input-password" placeholder="Password">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="far fa-eye"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="mt-4 mb-4"><button type="button" class="btn btn-block btn-primary btn-icon ">
                    <span class="btn-inner--text">Sign up</span>
                    <span class="btn-inner--icon"><i class="fas fa-arrow-right"></i></span>
                  </button>
      
                </div>
                <div class="bottom-area">
                    <p><small>Already member?</small>
                      <a routerLink="/login" class=" font-weight-bold ml-2">Sign in</a>
                    </p>
                </div>
               
      
              </form>
        </div>
       

      </div>
      <div class="col-lg-7 col-md-7 border-left">
        <div class="bms-about-image">
          <img class="bms-about-mobilethumb" src="assets/images/about-mobile.png" alt="about mobile">
        </div>
      </div>
    </div>
  </div>

</div>