<!-- Heroslider Area -->
<div class="bms-heroslider">
  <div class="bms-heroslider-inner">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 order-2 order-lg-1">
          <div class="bms-heroslider-content">
              <a class="bms-header-logo" routerLink="/home">
                <img src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuFqhVKnBfL1T59OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY"
                    alt="BookMySession logo">
            </a>
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
            <p>quam dolor hendrerit justo, nec cursus nulla neque quis orci. Morbi faucibus tempor
              nibh, sit amet egestas sapien efficitur eu. In neque </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// Heroslider Area -->

<div class="booking-section bms-section ">
  <div class="container bg-overlay-1 bms-padding-section">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 align-self-center">
        <form>
          <div class="form-group row">
            <label for="fname" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control-lg" placeholder="First name">
            </div>
          </div>
          <div class="form-group row">
            <label for="lname" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control-lg" placeholder="Last name">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" class="form-control-lg" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-sm-4 col-form-label">Phone Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control-lg" placeholder="Enter your mobile number">
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-sm-4 col-form-label">Duration</label>
            <div class="col-sm-8">
              <select class="custom-select-lg">
                <option value="1">20min</option>
                <option value="2">40min</option>
                <option value="3">60min</option>
              </select>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-4">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                  aria-controls="v-pills-home" aria-selected="true">Credit/Debit Card</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                  aria-controls="v-pills-profile" aria-selected="false">Net Banking</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                  aria-controls="v-pills-messages" aria-selected="false">Quick Checkout</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                  aria-controls="v-pills-settings" aria-selected="false">Wallets</a>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                  aria-labelledby="v-pills-home-tab">
                  <div class="cd-body">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control-lg" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                          Name on card is required
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control-lg" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                          Credit card number is required
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control-lg" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                          Expiration date required
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <input type="text" class="form-control-lg" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                          Security code required
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <div class="cd-body">
                    <div class="row">
                      <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="sbi" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="sbi"> <img
                              src="../../assets/images/icons/sbi.png"></label>
                        </div>

                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="hdfc" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="hdfc"> <img
                              src="../../assets/images/icons/hdfc.png"></label>
                        </div>

                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="axis" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="axis"> <img
                              src="../../assets/images/icons/axis.png"></label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="standardcharted" name="customRadioInline1"
                            class="custom-control-input">
                          <label class="custom-control-label" for="standardcharted"> <img
                              src="../../assets/images/icons/standardcharted.png"></label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="pnb" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="pnb"> <img
                              src="../../assets/images/icons/pnb.png"></label>
                        </div>

                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="icici" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="icici"> <img
                              src="../../assets/images/icons/icici.png"></label>
                        </div>

                      </div>
                    </div>

                    <label class="allbanks-lbl">All Banks</label>
                    <select class="custom-select-lg select-banks">
                      <option selected>Select bank</option>
                      <option value="162-NA">
                        Kotak Bank</option>
                      <option value="HDF-NA">
                        HDFC Bank</option>
                      <option value="ICI-NA">
                        ICICI Bank</option>
                      <option value="IDB-NA">
                        IDBI Bank</option>
                      <option value="PNB-NA">
                        PNB Bank</option>
                      <option value="SBI-NA">
                        SBI Bank</option>
                      <option value="SCB-NA">
                        Standard Chartered Bank</option>
                      <option value="UTI-NA">
                        AXIS Bank</option>
                      <option value="ADB-NA">
                        Andhra Bank</option>
                      <option value="ALB-NA">
                        Allahabad Bank</option>
                      <option value="BBR-NA">
                        Bank of Baroda Retail</option>
                      <option value="BDN-NA">
                        Bandhan Bank</option>
                      <option value="BOI-NA">
                        Bank of India</option>
                      <option value="BOM-NA">
                        Bank of Maharashtra</option>
                      <option value="CBI-NA">
                        Central Bank of India</option>
                      <option value="CNB-NA">
                        Canara Bank</option>
                      <option value="COB-NA">
                        Cosmos Bank</option>
                      <option value="CRP-NA">
                        Corporation Bank</option>
                      <option value="CSB-NA">
                        Catholic Syrian Bank</option>
                      <option value="CUB-NA">
                        City Union Bank</option>
                      <option value="DBK-NA">
                        Deutsche Bank</option>
                      <option value="DCB-NA">
                        DCB BANK LTD</option>
                      <option value="DEN-NA">
                        Dena Bank</option>
                      <option value="DLB-NA">
                        Dhanlaxmi Bank</option>
                      <option value="FBK-NA">
                        Federal Bank</option>
                      <option value="IDN-NA">
                        IDFC FIRST Bank</option>
                      <option value="IDS-NA">
                        Indusind Bank</option>
                      <option value="INB-NA">
                        Indian Bank</option>
                      <option value="IOB-NA">
                        Indian Overseas Bank</option>
                      <option value="JKB-NA">
                        Jammu and Kashmir Bank</option>
                      <option value="JSB-NA">
                        Janata Sahakari Bank Limited</option>
                      <option value="KBL-NA">
                        Karnataka Bank</option>
                      <option value="KVB-NA">
                        Karur Vysya Bank</option>
                      <option value="LVR-NA">
                        Lakshmi Vilas Bank</option>
                      <option value="OBC-NA">
                        Oriental Bank of Commerce</option>
                      <option value="PMC-NA">
                        Punjab &amp; Maharastra Coop Bank</option>
                      <option value="PSB-NA">
                        Punjab &amp; Sind Bank</option>
                      <option value="RTN-NA">
                        RBL Bank Limited</option>
                      <option value="SIB-NA">
                        South Indian Bank</option>
                      <option value="SVC-NA">
                        Shamrao Vitthal Co-operative Bank</option>
                      <option value="SWB-NA">
                        Saraswat Bank</option>
                      <option value="SYD-NA">
                        Syndicate Bank</option>
                      <option value="TMB-NA">
                        Tamilnad Mercantile Bank</option>
                      <option value="UBI-NA">
                        Union Bank</option>
                      <option value="UCO-NA">
                        UCO Bank NetBanking</option>
                      <option value="UNI-NA">
                        United Bank</option>
                      <option value="VJB-NA">
                        Vijaya Bank</option>
                      <option value="YBK-NA">
                        Yes Bank</option>
                    </select>

                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="cd-body">
                  <div class="row">
                      <div class="col-6">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="paypal" name="quickCheckOut" class="custom-control-input">
                            <label class="custom-control-label" for="paypal"> <img height="60"
                                src="../../assets/images/icons/paypal.png"></label>
                          </div>
  
                        </div>
                  </div>
                </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="cd-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" id="paytm" name="wallets" class="custom-control-input">
                                  <label class="custom-control-label" for="paytm"> <img
                                      src="../../assets/images/icons/paytm.png"></label>
                                </div>
        
                              </div>
                              <div class="col-6">
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="amazonpay" name="wallets" class="custom-control-input">
                                    <label class="custom-control-label" for="amazonpay"> <img
                                        src="../../assets/images/icons/amazonpay.jpg"></label>
                                  </div>
          
                                </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group mt-5">
            <a _ngcontent-c1="" class="bms-button bms-button-lg bms-button-white bms-button-transparent mr-2"
              href="#"><span _ngcontent-c1="">Confirm Booking</span></a>
            <a _ngcontent-c1="" class="bms-button bms-button-lg bms-button-white bms-button-transparent" href="#"><span
                _ngcontent-c1="">Cancel</span></a>
          </div>
        </form>
      </div>

    </div>



  </div>

</div>